.tooltip-container {
    position: relative;
}

.tooltip-box {
    position: absolute;
    display: none;
    z-index: 100;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    border-radius: 5px;
    left: 100%;
}
.tooltip-box.visible {
    display: block;
}
.tooltip-box h3 {
    margin: 0;
    margin-bottom: 7px;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}
.input-container select {
    font-family: inherit;
    height: 30px;
    width: 155px;
}
.input-container input[type="date"] {
    font-family: inherit;
    height: 30px;
    width: 150px;
}
input[type="submit"],
input[type="button"] {
    font-family: inherit;
    height: 30px;
    padding: 0 10px;
    margin: 7px 5px;
    background: var(--black);
    color: var(--white);
    border-radius: 5px;
    border: inherit;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:hover {
    background: var(--dark-blue);
}
input[type="button"]:hover {
    background: var(--red);
}
