.event-btn {
    border: solid 1px var(--white);
    border-radius: 5px;
    min-height: 30px;
    min-width: 50px;
    color: var(--white);
    cursor: pointer;
    opacity: 0.8;
}
.event-btn:hover,
.event-btn:focus {
    opacity: 1;
}
