.table-container table {
    width: 70%;
    font-size: 15px;
    min-width: 400px;
    min-height: 300px;
}
.table-header {
    color: var(--dark-black);
    font-size: 17px;
    text-align: center;
}
.table-header tr th {
    min-width: 120px;
}
.table-header .date-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.table-header .date-header span {
    padding: 5px;
}
.table-header .current-date-span {
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 50%;
}
/* .table-header .slot-header {
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
} */
.table-body tr td:first-child {
    padding-left: 20px;
    text-align: left;
}
.table-body tr td {
    padding: 12px auto;
    border-right: solid 1px var(--grey);
}

.table-body tr:nth-of-type(even) {
    background: var(--grey);
    border-right: solid 1px var(--white);
}

.table-body tr:last-of-type {
    border-bottom: 2px solid #333333;
}
