.table-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.table-container table {
    width: 70%;
    font-size: 15px;
    min-width: 400px;
    min-height: 300px;
}
.table-header {
    color: var(--dark-black);
    font-size: 17px;
    text-align: center;
}
.table-header th {
    padding: 20px 15px;
}
.table-body tr td:first-child {
    padding-left: 20px;
    text-align: left;
}
.table-body tr td {
    padding: 12px auto;
    border-right: solid 1px var(--grey);
}

.table-body tr:nth-of-type(even) {
    background: var(--grey);
    border-right: solid 1px var(--white);
}

.table-body tr:last-of-type {
    border-bottom: 2px solid #333333;
}
